/**
 * scss
 */

:root {

	--colour-primary: #ff0000;
	--colour-secondary: #ffffff;
	--colour-tertiary: #000000;
	--colour-on-primary: var(--colour-secondary);
	--colour-on-secondary: var(--colour-tertiary);
	--colour-on-tertiary: var(--colour-secondary);
	--colour-primary-rgb: 255, 0, 0;
	--colour-secondary-rgb: 255, 255, 255;
	--colour-tertiary-rgb: 0, 0, 0;
	--colour-opacity-light: 0.2;
	--colour-opacity-lighter: 0.05;
	--colour-opacity-dark: 0.5;
	--colour-opacity-darker: 0.8;

	--font-size-large: 22px;
	--font-size-regular: 18px;
	--font-size-small: 14px;
	--font-height: 120%;
	--font-weight: 400;
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

	--page-content-width: 1024px;
	--page-spacing: 20px;

	--effect-image-radius: 100%;
	--effect-bubble-radius: 25px;
	--effect-box-shadow: 0 0 10px rgba(var(--colour-secondary-rgb), --colour-glass-opacity);
	--effect-box-blur: 10px;

	@media (prefers-color-scheme: dark) {

		--colour-primary: #ee0000;
		--colour-secondary: #000000;
		--colour-tertiary: #ffffff;
		--colour-primary-rgb: 255, 0, 0;
		--colour-secondary-rgb: 0, 0, 0;
		--colour-tertiary-rgb: 255, 255, 255;
		--colour-opacity-light: 0.2;
		--colour-opacity-lighter: 0.05;
		--colour-opacity-dark: 0.5;
		--colour-opacity-darker: 0.8;

	}

}

* {

	box-sizing: border-box;

}

html,
body {

	background-color: var(--colour-secondary);

	width: 100%;
	margin: 0;
	padding: 0;

}

body {

	min-height: 100vh;

}

body {

	background-color: transparent;

	color: var(--colour-tertiary);
	font-size: var(--font-size-regular);
	line-height: var(--font-height);
	font-weight: var(--font-weight);
	font-family: var(--font-family);

}

header {

	background-color: rgba(var(--colour-tertiary-rgb), var(--colour-opacity-lighter));
	border-bottom: 1px solid rgba(var(--colour-tertiary-rgb), var(--colour-opacity-light));
	width: 100%;

	padding: var(--page-spacing);

	display: block;

}

header {

	position: sticky;
	top: 0;

}

footer {

	background-color: var(--colour-secondary);

	width: 100%;
	padding: var(--page-spacing);

	position: fixed;
	left: 0;
	bottom: 0;

	z-index: 10;

	p {

		margin: 0;

		color: rgba(var(--colour-tertiary-rgb), var(--colour-opacity-dark));
		font-size: var(--font-size-small);

		text-align: center;

	}

}

main {

	width: 100%;
	margin: 0 0 64px;

	display: flex;

	position: relative;
	z-index: 1;

}

p {

	margin: 0 0 8px;

	&:last-of-type {

		margin: 0;

	}

}

a {

	color: var(--colour-tertiary);
	text-decoration: underline;

	&:focus {

		color: var(--colour-primary);

	}

	&:hover {

		color: var(--colour-tertiary);
		text-decoration: none;

	}

}

.user-profile {

	width: 100%;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: center;

	flex-wrap: wrap;

	&__image,
	&__name {

		width: 100%;

		text-align: center;

	}

	&__image {

		img {

			max-height: 32px;
			height: auto;

			margin: 0 auto;
			display: block;

			border-radius: var(--effect-image-radius);

		}

	}

	&__name {

		h1 {

			margin: 10px 0 0;

			color: var(--colour-tertiary);
			font-size: 16px;
			line-height: 16px;
			font-weight: 400;

		}

	}

}

.message-list {

	width: 100%;
	max-width: var(--page-content-width);

	margin: 0 auto;

	display: block;

}

.message-item {

	width: 100%;

	padding: var(--page-spacing);

	display: flex;
	align-items: center;
	justify-content: space-between;

	&__message,
	&__time {

		p {

			color: var(--colour-tertiary);
			font-size: var(--font-size-small);
			line-height: var(--font-height);

		}

	}

	&__message {

		background-color: rgba(var(--colour-tertiary-rgb), var(--colour-opacity-lighter));
		
		width: auto;
		padding: 10px 20px;

		display: inline-block;
		border-radius: var(--effect-bubble-radius);

	}

	&__time {

		p {

			margin: 0;
			padding: 8px 0 0 15px;

			color: rgba(var(--colour-tertiary-rgb), var(--colour-opacity-dark));
			font-style: italic;

		}

	}

}
